@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}
:root {
  --bg-main: hsl(168, 34%, 61%);
  --hover-white: rgba(255, 255, 255, 0.5);
  --gray-text: hsl(210, 4%, 67%);
  --dark-green: hsl(168, 34%, 21%);
  --medium-blue: hsl(198, 62%, 26%);
  --medium-green: hsl(167, 40%, 24%);
  --medium-gray: hsl(213, 9%, 39%);
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  background: var(--bg-main);
}

.hero {
  height: 100vh;
  background-image: url(images/desktop/image-header.jpg);
  background-size: cover;
  background-position: bottom;
}

.hero__body {
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-content: start center;
  margin-top: 2rem;
  height: 80vh;
}

.hero__body-header {
  color: #fff;
  font-size: 4.4rem;
  font-family: "Fraunces", sans-serif;
  text-transform: uppercase;
}

.hero__arrow {
  -ms-grid-column-align: center;
  justify-self: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.menu.mobile {
  background-color: #fff;
  display: block;
  position: absolute;
  top: 12%;
  left: 15%;
  width: 70%;
}

.menu-item:first-of-type {
  position: relative;
}

.menu-item:first-of-type::before {
  content: "";
  position: absolute;
  right: 0;
  top: -25%;
  border-top: 15px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid #fff;
  border-bottom: 15px solid #fff;
  display: none;
}

.menu.mobile .menu-item {
  color: #000;
  -webkit-clip-path: none;
  clip-path: none;
  padding: 0;
  text-align: center;
}

.menu.mobile .menu-item:first-of-type::before {
  display: block;
}

.menu-item a {
  color: #fff;
  padding: 1rem 1.5rem;
  font-family: "Barlow", sans-serif;
}

.menu-item--white a {
  color: #000;
  background: #fff;
  padding: 1rem 2rem;
  font-family: "Fraunces", sans-serif;
  cursor: pointer;
  -webkit-clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
  clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.menu-item--white a:hover {
  background-color: var(--hover-white);
}

.menu-item a:focus {
  color: #000;
  background-color: #fff;
}

.menu-item:hover {
  color: #000;
}

.btn {
  border: none;
  background: none;
  display: none;
  cursor: pointer;
}

a {
  height: 100%;
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;
  color: inherit;
}

.menu-item {
  -webkit-clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
  clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.menu-item:hover {
  background-color: var(--hover-white);
  color: #fff;
}

.menu-item--white a:focus {
  outline: none;
  color: #fff;
  background: #000;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card {
  width: 50%;
  background-color: #fff;
}

.transform__image {
  background-image: url(images/desktop/image-transform.jpg);
  background-position: center;
  height: 70vh;
}

.stand-out__image {
  background-image: url(images/desktop/image-stand-out.jpg);
  background-position: center;
  height: 70vh;
}

.card__body {
  height: 100%;
  width: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
  z-index: 10;
}

.card__body-text {
  color: var(--gray-text);
  margin: 2rem 0;
  font-size: 1.2rem;
}

.card__body-link {
  font-family: "Fraunces", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--dark-green);
  position: relative;
}

.card__body-link::after {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 40%;
  bottom: 0.5rem;
  left: 0;
  z-index: -1;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px hsl(7, 99%, 90%);
  box-shadow: 0 0 5px hsl(7, 99%, 90%);
  background-color: hsl(7, 99%, 90%);
}

.card__heading {
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  color: var(--dark-green);
}

.photography {
  background-image: url(images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.design {
  background-image: url(images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outside {
  height: 70vh;
}

.card img {
  width: 100%;
}

.photography,
.design {
  display: -ms-grid;
  display: grid;
  height: 70vh;
  place-content: end center;
  text-align: center;
  padding: 3em 4.5em;
}

.design h2,
.design p,
.photography h2,
.photography p {
  color: var(--medium-green);
  width: 60%;
  margin: 2rem auto 0;
}

.photography h2,
.photography p {
  color: var(--medium-blue);
}

/*testimonials  */

.testimonials {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
}

.testimonials__card {
  display: -ms-grid;
  display: grid;
  width: 400px;
  padding: 0 1rem;
}

.testimonials__heading {
  text-align: center;
  width: 100%;
  color: hsl(210, 4%, 67%);
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-family: "Fraunces", sans-serif;
}

.testimonials__image {
  margin: 0 auto;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.testimonials__image,
.testimonials__body {
  text-align: center;
}

.testimonials__text {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1rem;
}

.testimonials__name {
  font-family: "Fraunces", sans-serif;
  margin: 0.5rem 0;
}

.testimonials__role {
  color: var(--gray-text);
}

.desktop-img {
  display: block;
}
.mobile-img {
  display: none;
}

p {
  font-family: "Barlow", sans-serif;
  color: var(--medium-gray);
}
/* gallery */


img {
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.gallery {
  display: -ms-grid;
  display: grid;
  grid-template-areas: "milk orang cone sugar";
}

.milk {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: milk;
}

.orange {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: orang;
}

.cone {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: cone;
}

.sugar {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: sugar;
}

.gallery img {
  height: 350px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* footer */

footer svg {
  margin: 0 auto;
  display: block;
}

footer {
  background-color: var(--bg-main);
  width: 100%;
  padding: 2rem 0;
}

footer ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__socials {
  width: 220px;
}

.footer__nav {
  width: 300px;
  margin: 2em auto;
  font-family: "Barlow", sans-serif;
}

.footer__nav li a {
  color: var(--dark-green);
  text-decoration: none;
}

footer a:focus {
  outline: none;
  background: #fff;
}

.footer__nav a:hover {
  color: #fff;
}

.footer__socials a:hover svg path {
  fill: #fff;
}

@media (min-width: 700px) and (max-width: 1000px) {
  .card__heading,
  .card__body-link {
    font-size: 1.1rem;
  }

  .hero {
    height: 60vh;
  }
  .card__body {
    width: 80%;
  }

  .card__body-text {
    font-size: 1rem;
  }

  .design,
  .photography,
  .card {
    background-size: cover;
    padding: 0.9em;
  }

  .design p,
  .photography p {
    margin-top: 1rem;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .hero {
    height: 90vh;
  }

  .hero__body-header {
    font-size: 2.5rem;
    text-align: center;
  }

  .transform__image {
    background-image: url(images/mobile/image-transform.jpg);
    background-position: center;
    height: 50vh;
    background-repeat: no-repeat;
  }

  .stand-out__image {
    background-image: url(images/mobile/image-stand-out.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    background-repeat: no-repeat;
  }

  .btn {
    display: block;
  }

  .menu {
    display: none;
  }

  .menu-item a {
    color: #000;
  }

  .design,
  .photography {
    padding: 3em 2em;
    height: 90vh;
  }

  .design p,
  .photography p {
    width: 100%;
  }
  .card__body {
    text-align: center;
    width: 90%;
  }
  .transform__image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .transform {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .stand-out__image {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .stand-out {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }

  .design {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }

  .photography {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }

  .grid > div {
    min-height: 60vh;
    width: 100%;
  }

  .testimonials__card + .testimonials__card {
    margin-top: 4rem;
  }

  .gallery {
    grid-template-areas:
      "milk orang"
      "cone sugar";
  }

  .milk {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .orange {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .cone {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .sugar {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}
